$lgBreak: 1335px;
$mdBreak: 1040px;
$smBreak: 800px;
$xsmBreak: 500px;

@font-face {
    font-family: 'Muri';
    src: url('../../../assets/fonts/Muri/Muli-Regular.ttf');
}

@font-face {
    font-family: 'Muri-xlight';
    src: url('../../../assets/fonts/Muri/Muli-ExtraLight.ttf');
}

#gallery {
    .wrapper {
        margin: 40px 0 0 0;
        max-width: 80vw;

        @media screen and (max-width: 839px) {
            margin: 80px 0 0 0;
        }
    }

    h1 { font-size: 45px; font-family: 'Muri'; }
    h3 { font-size: 20px; font-family: 'Muri-xlight'; }

    @media screen and (max-width: 754px) and (min-width: 521px) {
        h1 { font-size: 30px; }
        h3 { font-size: 18px; }
    }

    @media screen and (max-width: 520px) and (min-width: 348px) {
        h1 { font-size: 20px; }
        h3 { font-size: 15px; }
    }
    @media screen and (max-width: 347px) {
        h1 { font-size: 18px; }
        h3 { font-size: 15px; }
    }
}

.grid-container-large:hover .grid-item-large:not(:hover) {
    z-index: 100;

    .overlay {
        opacity: 0.5;
    }

    img {
        //object-fit: none;
        filter: blur(5px);
        -ms-filter: blur(5px);
        -webkit-filter: blur(5px);
    }
}

.grid-container-large {
    display: grid;
    grid-gap: 1;

    //margin: 0;
    margin-top: 40px;

    @media screen and (min-width: $lgBreak + 1) {
        grid-template-columns: repeat(6, 13.3vw);
        grid-template-rows: repeat(4, 200px);
    }
    
    @media screen and (max-width: $lgBreak) and (min-width: $mdBreak + 1) {
        grid-template-columns: repeat(4, 20vw);
        grid-template-rows: repeat(6, 200px);
    }

    @media screen and (max-width: $mdBreak) and (min-width: $smBreak + 1) {
        grid-template-columns: repeat(3, 26vw);
        grid-template-rows: repeat(8, 200px);
    }

    @media screen and (max-width: $smBreak) and (min-width: $xsmBreak + 1) {
        grid-template-columns: repeat(2, 40vw);
        grid-template-rows: repeat(12, 200px);
    }

    @media screen and (max-width: $xsmBreak) {
        grid-template-columns: 80vw;
        grid-template-rows: repeat(15, auto);
    }
}

.grid-item-large {
    display: flex;
    object-fit: contain;
    position: relative;
    object-fit: contain;
    height: 100%;
    width: 100%;
    z-index: 200;
    overflow: hidden;
    cursor: pointer;
    // transition: all .2s;
    // -moz-transition: all .2s;
    // -o-transition: all .2s;
    // -webkit-transition: all .2s;

    .overlay {
        position: absolute;
        top: 0; left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        overflow: hidden;
        //box-shadow: inset 10px 10px 10px 10px rgb(0, 0, 0);
        //filter: blur(10px);
        opacity: 0;
        transition: all .2s;
        -moz-transition: all .2s;
        -o-transition: all .2s;
        -webkit-transition: all .2s;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: all .2s;
        -moz-transition: all .2s;
        -o-transition: all .2s;
        -webkit-transition: all .2s;
    }
}

@media screen and (min-width: $lgBreak + 1) {
    #arrow-large {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    #SCMusic-large {
        grid-column: 3 / span 2;
        grid-row: 1;
    }

    #smokinJoes-large {
        grid-column: 2 / span 2;
        grid-row: 2;
    }

    #krewella-large {
        grid-column: 2;
        grid-row: 1;
    }

    #euphoria-large {
        grid-column: 4;
        grid-row: 2;
    }

    #love-large {
        grid-column: 5;
        grid-row: 1 / span 2;
    }

    #lonestarOrange-large {
        grid-column: 6;
        grid-row: 1;
    }

    #healthcareShirt-large {
        grid-column: 6;
        grid-row: 2;
    }

    #mustangMagazine-large {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    #riley-large {
        grid-column: 1;
        grid-row: 4;
    }

    #command-large {
        grid-column: 4 / span 2;
        grid-row: 3;
    }

    #catHat-large {
        display: none;
    }

    #jakku-large {
        grid-column: 6;
        grid-row: 3 / span 2;
    }

    #resistance-large {
        grid-column: 3;
        grid-row: 3 / span 2;
    }

    #xgames-large {
        grid-column: 4 / span 2;
        grid-row: 4;
    }

    #lonestar-large {
        grid-column: 2;
        grid-row: 4;
    }
}

@media screen and (max-width: $lgBreak) and (min-width: $mdBreak + 1) {
    #arrow-large {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    #SCMusic-large {
        grid-column: 3 / span 2;
        grid-row: 1;
    }

    #smokinJoes-large {
        grid-column: 2 / span 2;
        grid-row: 2;
    }

    #krewella-large {
        grid-column: 2;
        grid-row: 1;
    }

    #euphoria-large {
        grid-column: 4;
        grid-row: 2;
    }

    #love-large {
        grid-column: 3;
        grid-row: 3 / span 2;
    }

    #lonestarOrange-large {
        grid-column: 2;
        grid-row: 4;
    }

    #healthcareShirt-large {
        grid-column: 4;
        grid-row: 3;
    }

    #mustangMagazine-large {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    #riley-large {
        grid-column: 1;
        grid-row: 4;
    }

    #command-large {
        grid-column: 2 / span 2;
        grid-row: 5;
    }

    #catHat-large {
        display: none;
    }

    #jakku-large {
        grid-column: 4;
        grid-row: 5 / span 2;
    }

    #resistance-large {
        grid-column: 1;
        grid-row: 5 / span 2;
    }

    #xgames-large {
        grid-column: 2 / span 2;
        grid-row: 6;
    }

    #lonestar-large {
        grid-column: 4;
        grid-row: 4;
    }
}

@media screen and (max-width: $mdBreak) and (min-width: $smBreak + 1) {
    #arrow-large {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    #SCMusic-large {
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    #smokinJoes-large {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    #krewella-large {
        grid-column: 2;
        grid-row: 2;
    }

    #euphoria-large{
        grid-column: 3;
        grid-row: 2;
    }

    #love-large {
        grid-column: 2;
        grid-row: 5 / span 2;
    }

    #lonestarOrange-large {
        grid-column: 3;
        grid-row: 3;
    }

    #healthcareShirt-large {
        grid-column: 1;
        grid-row: 6;
    }

    #mustangMagazine-large {
        grid-column: 1 / span 2;
        grid-row: 4;
    }

    #riley-large {
        grid-column: 1;
        grid-row: 5;
    }

    #command-large {
        grid-column: 1 / span 2;
        grid-row: 7;
    }

    #catHat-large {
        display: none;
    }

    #jakku-large {
        grid-column: 3;
        grid-row: 6 / span 2;
    }

    #resistance-large {
        grid-column: 3;
        grid-row: 4 / span 2;
    }

    #xgames-large {
        grid-column: 1 / span 2;
        grid-row: 8;
    }

    #lonestar-large {
        grid-column: 3;
        grid-row: 8;
    }
}

@media screen and (max-width: $smBreak) and (min-width: $xsmBreak + 1) {
    #arrow-large {
        grid-column: 1;
        grid-row: 3 / span 2;
    }

    #SCMusic-large {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    #smokinJoes-large {
        grid-column: 1 / span 2;
        grid-row: 7;
    }

    #krewella-large {
        grid-column: 1;
        grid-row: 2;
    }

    #euphoria-large {
        grid-column: 2;
        grid-row: 2;
    }

    #love-large {
        grid-column: 2;
        grid-row: 3 / span 2;
    }

    #lonestarOrange-large {
        grid-column: 1;
        grid-row: 6;
    }

    #healthcareShirt-large {
        grid-column: 1;
        grid-row: 0;
    }

    #mustangMagazine-large {
        grid-column: 1 / span 2;
        grid-row: 8;
    }

    #riley-large {
        grid-column: 1;
        grid-row: 5;
    }

    #command-large {
        grid-column: 1 / span 2;
        grid-row: 11;
    }

    #catHat {
        display: none;
    }

    #jakku-large {
        grid-column: 2;
        grid-row: 9 / span 2;
    }

    #resistance-large {
        grid-column: 2;
        grid-row: 5 / span 2;
    }

    #xgames-large {
        grid-column: 1 / span 2;
        grid-row: 12;
    }

    #lonestar-large {
        grid-column: 1;
        grid-row: 10;
    }
}

@media screen and (max-width: $xsmBreak) {

    #SCMusic-large {
        grid-column: 1;
        grid-row: 1;
    }


    #resistance-large {
        grid-row: 11;
    }

    #xgames-large {
        grid-row: 13;
    }
}