.link {
    @media screen and (max-height: 211px) {
        height: 40px;
        width: 60px;
    }
    height: 60px;
    width: 80px;
    background-color: white;
    margin: 0;

    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;

    text-decoration: none;
    color: black;

    div {
        height: 100%;
        width: 100%;
    }

    .icon {
        padding-right: 15px;
        @media screen and (max-height: 211px) {
            padding-right: 5px;
        }
    }
}

.link:hover {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
}

.link:visited {
    color: black;
}