@font-face {
  font-family: 'Muri';
  src: url("./assets/fonts/Muri/Muli-Regular.ttf");
}

@font-face {
  font-family: 'Muri-xlight';
  src: url("./assets/fonts/Muri/Muli-ExtraLight.ttf");
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#no-scroll-content {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  padding-right: 15px;
  padding-bottom: 15px;
}

#about {
  text-align: center;
  font-family: 'Muri';
  padding: 40px 0 0 0;
}

@media screen and (max-height: 420px) and (max-height: 950px) {
  #about {
    padding: 0;
  }
}

@media screen and (max-width: 686px) {
  #about {
    padding: 40px 20px 0 20px;
  }
}

#about h1 {
  font-size: 50px;
  padding-bottom: 0;
  margin: 0;
  color: #717171;
}

@media screen and (max-width: 585px) and (min-width: 368px) {
  #about h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 367px) {
  #about h1 {
    font-size: 25px;
  }
}

#about h3 {
  margin: 0;
  padding-top: 10px;
  font-size: 20px;
  color: #4c4c4c;
}

@media screen and (max-width: 465px) {
  #about h3 {
    font-size: 16px;
  }
}

#about h4 {
  margin: 0;
  font-family: 'Muri-xlight';
  padding-top: 10px;
  font-size: 17px;
  color: #4c4c4c;
}

@media screen and (max-width: 465px) {
  #about h4 {
    font-size: 16px;
  }
}

#about .blink {
  padding: 0 15px;
  animation: blink 1.5s linear infinite;
  -moz-animation: blink 1.5s linear infinite;
  -o-animation: blink 1.5s linear infinite;
  -webkit-animation: blink 1.5s linear infinite;
}

@media screen and (max-width: 465px) {
  #about .blink {
    padding: 0 10px;
  }
}

.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-container #home-content {
  height: auto;
  display: block;
}

#link-container {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 839px) {
  #link-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    margin-left: 22px;
  }
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tilt-container {
  height: 168px;
  width: 200px;
}

.tilt-container #logo-sqaure {
  position: absolute;
  top: 0;
  left: 0;
  height: 168px;
  width: 200px;
}

.tilt-container #logo-letters {
  position: absolute;
  height: 151.2px;
  width: 180px;
  top: 8.4px;
  left: 10px;
}
/*# sourceMappingURL=app.css.map */